@import 'onepagescroll.css';
.onepage-pagination li a {
  width: 10px;
  height: 10px;
}
.onepage-pagination li a.active:before {
  border-color: #fff;
  width: 10px;
  height: 10px;
  border-style: solid;
  margin-top: 0;
}
.onepage-pagination li a:before {
  background-color: #fff;
  width: 10px;
  height: 10px;
}
jh1 {
  transition: all 400ms ease;
  display: inline-block;
}
jh1:hover {
  background: #808080;
}
.offToLeft {
  transform: translateX(-3000px);
}
#layer_1,
#layer_2 {
  width: 128px;
  height: 116px;
}
.jgreensvg {
  animation: spin 1s linear 2;
  transform-origin: center;
}
.jredsvg {
  transform-origin: bottom left;
  animation: wave 1s linear 2;
}
section h1 {
  text-align: center;
}
section:nth-child(2) {
  background: #1a1a1a;
}
.active h1 {
  animation: jslide4rmleft 2s forwards;
}
.anim-svg {
  animation: wave 1.5s ease 2;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@-moz-keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@-o-keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@-moz-keyframes jslide4rmleft {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0;
  }
}
@-webkit-keyframes jslide4rmleft {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0;
  }
}
@-o-keyframes jslide4rmleft {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0;
  }
}
@keyframes jslide4rmleft {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: 0;
  }
}
